%h1 Listing comments

%table
  %thead
    %tr
      %th User name
      %th Body
      %th Idea
      %th
      %th
      %th

  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.user_name
        %td= comment.body
        %td= comment.idea_id
        %td= link_to 'Show', comment
        %td= link_to 'Edit', edit_comment_path(comment)
        %td= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Comment', new_comment_path
