%tr
  %td
    = post.title
  %td
    = link_to post.published ? 'Unpublish' : 'Publish', [:publish, :admin, post], class: "btn #{post.published ? 'btn-primary' : 'btn-success'}"
  %td
    = link_to 'Edit', [:edit, :admin, post], class: 'btn btn-default'
  %td
    = link_to 'Destroy', [:admin, post], method: :delete, class: 'btn btn-danger'
